*{
    margin: 0;
    padding: 0;
}

nav h1{
    color: #54256E;
    font-size: 45px;
    font-weight: 500;
}
.fa-play{
    position: absolute;
    font-size: 10px;
    margin-top: 30px;
    color: red;
    margin-left: 11px;
}
.en{
    font-size: 12px;
    font-weight: bold;
}

.main-side{
    display: flex;
}
.sidebar{
    /* height: 100vh; */
    width:20%;
    background:#56226A;
    flex-direction: column;
}
.sidebar .nav{
    display: flex;
    flex-direction: column;
    color:lavender;
    padding-top: 10px;
}
.main-content{
    width:80%;
    /* height: 100vh; */
    background:#F0F4FA;
}
.content-body{
    width: 95%;
    padding: 12px;
    /* height: 612px; */
    border-radius: 13px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}

.fa-bars{
    color: #fff;
    margin-left: 140px;
    margin-top: 35px;
    font-size: 20px;
}

.side-item{
    padding-right: 15px;
}

.bar{
    float: right;
    padding-right: 28px;
}

.item{
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    padding-right: 14px;
    color: #fff;
}

.items{
    display: flex;
    margin: 3px 0 3px 0;
    padding-top: 12px;
}
.items svg{
    padding-top: 4px;
    padding-left: 32px;
    font-size: 17px;
}

.items p{
    padding-left: 17px;
}
.items .fa-chevron-down{
    position: absolute;
    right: 12px;
}

.items:hover{
    background: #fff;
    color: #54256E;
    border-bottom-right-radius: 46px;
    border-top-right-radius: 46px;
    transition: .1s;
}

/* main-heading */

.main-heading {
    display: flex;
    /* margin-top: 10px; */
    padding-top: 37px;
    color: #B4B7BC;
    padding-left: 50px;
}

.main-heading h6{
    padding-left: 15px;
}

.main-heading .fa-tv{
    padding-top: 3px;
}

.content-heading h6{
    padding: 24px;
    color: #56226a;
}


/* Content-Body */


.content-body .navbar .navbar-brand{
    color: #54256a;
    font-size: 1rem;
    font-weight: 500;
}

/* .fa-magnifying-glass{
    position: absolute;
    z-index: 1;
    margin-top: 2px;
    color: #ccc;
    margin-left: 24px;
    font-size: 14px;  
} */
/* .form-inline span{
    color: #ccc;
    position: absolute;
    margin-left: 47px;
} */

.form-inline input{
    background: #F0F4FA;
    order: none;
    border: none;
    width: 227px;
    border-radius: 20px;
}

tbody th{
    font-weight: 400;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box .btn{
    width: 139px;
    background: #fff;
    color: orange;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    border: 1px solid orange;
    border-radius: 27px;
}
.form-inline input{
    padding-left: 20px;
    position: relative;
}

.form-inline input::placeholder{
    color: #ccc;
    padding-left: 22px;

}
.form-inline .fa-magnifying-glass{
    position: absolute;
    /* left: 20px; */
    font-size: 13px;
    z-index: 1;
    padding-top: 2px;
    padding-left: 22px;
    color: #ccc;
}
.form-inline .form-control:focus {

    z-index: 2;
}
.items{
    position: relative;   
}
