*{
    margin: 0;
    padding: 0;
}

nav h1{
    color: #54256E;
    font-size: 45px;
    font-weight: 500;
}
.fa-play{
    position: absolute;
    font-size: 10px;
    margin-top: 30px;
    color: red;
    margin-left: 11px;
}
.en{
    font-size: 12px;
    font-weight: bold;
}
/* Sidebar */
.main-side{
    display: flex;
}
.sidebar.active {
    /* height: 100vh; */
    transition: 0.5s;
    position: relative;
    width:20%;
    /* width: 5%; */
    background: #56226A;
    flex-direction: column;
    padding-bottom: 75px;
}

.sidebar {
    transition: 0.5s;
    position: relative;
    /* width:20%; */
    width: 5%;
    background: #56226A;
    flex-direction: column;
    padding-bottom: 75px;
}
.sidebar .nav {
    display: flex;
    flex-direction: column;
    color: lavender;
    padding-top: 10px;
}

.main-content {
    width: 95%;
    background: #F0F4FA;
}

.content-body {
    width: 95%;
    padding: 12px;
    border-radius: 13px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}
/* .fa-bars{
    color: #fff;
    margin-left: 140px;
    margin-top: 35px;
    font-size: 20px;
} */

.side-item {
    padding-right: 15px;
}


.bar {
    position: absolute;
    right: 47px;
    top: 47px;
    color: #fff;
}

.sidebar.active .bar{
    position: absolute;
    right: 21px;
    top: 47px;
    color: #fff;
}
.item {
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    /* margin-right: 14px; */
    color: #fff;
}

.sidebar.active .item {
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    margin-right: 14px;
    color: #fff;
}

.items {
    display: flex;
    margin: 3px 0 3px 0;
    padding-top: 12px;
}

.items {
    position: relative;
}
.items p {
    padding-left: 17px;
}
.my-item {
    display: flex;
    padding-top: 3px;
}

.items svg {
    padding-top: 4px;
    padding-left: 32px;
    font-size: 17px;
}

.my-item p {
    opacity: 0;
}
.sidebar.active .my-item p {
    opacity: 1;
}
.items .fa-chevron-down {
    position: absolute;
    right: 12px;
    opacity: 0;
}

.sidebar.active .items .fa-chevron-down {
    position: absolute;
    right: 12px;
    opacity: 1;
}
.items:hover {
    background: #fff;
    color: #54256E;
    border-radius: 0;
    transition: .1s;
}

.sidebar.active .items:hover {
    background: #fff;
    color: #54256E;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
    transition: .1s;
}

/* main-heading */

.main-heading {
    display: flex;
    /* margin-top: 10px; */
    padding-top: 37px;
    color: #B4B7BC;
    padding-left: 50px;
}

.main-heading h6{
    padding-left: 15px;
}

.main-heading .fa-tv{
    padding-top: 3px;
}

.content-heading h6{
    padding: 24px;
    color: #56226a;
}


/* Content-Body */


.content-body .navbar .navbar-brand{
    color: #54256a;
    font-size: 1rem;
    font-weight: 500;
}


.form-inline input{
    background: #F0F4FA;
    order: none;
    border: none;
    width: 227px;
    border-radius: 20px;
}
.form-inline input:focus{
    box-shadow: none;
}

tbody th{
    font-weight: 400;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box .btn{
    width: 139px;
    background: #fff;
    color: orange;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    border: 1px solid orange;
    border-radius: 27px;
}
.form-inline input{
    padding-left: 20px;
    position: relative;
}

.form-inline input::placeholder{
    color: #ccc;
    padding-left: 22px;

}
.form-inline .fa-magnifying-glass{
    position: absolute;
    /* left: 20px; */
    font-size: 13px;
    z-index: 1;
    padding-top: 2px;
    padding-left: 22px;
    color: #ccc;
}
.form-inline .form-control:focus {

    z-index: 2;
}
.items{
    position: relative;   
}

@media(max-width: 1250) {
    .sidebar{
        width: 5%;
    }
    .main-content{
        width: 95%;
    }
    .items{
        padding: 3px;
    }
    .item{
        margin-right: 0;
    }
    .my-item .fa-chevron-down{
        opacity: 0;
    }
    .my-item p{
        opacity: 0;
    }
    .items:hover{
        border-radius: 0;
        transition: .1s;
    }
    
  }